@page "/counter"

@inject IStringLocalizer<Translation> Localizer;

<LanguageTrackProvider OnInitializeEvent="provider => provider.RegisterComponent(this)" />
<PageTitle>Counter</PageTitle>

<h1>@Localizer["Counter"]</h1>

<p role="status">@Localizer["CurrentCount"]: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@Localizer["ClickMe"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
